.auth-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#4f46e5,#7c3aed);
}

.auth-card{
background:white;
padding:35px;
width:380px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.auth-form{
display:flex;
flex-direction:column;
gap:15px;
}

.auth-field{
display:flex;
flex-direction:column;
text-align:left;
}

.auth-input{
padding:12px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

.auth-button{
padding:12px;
background:#4f46e5;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

.auth-button:hover{
background:#3730a3;
}

.auth-link{
text-decoration:none;
color:#4f46e5;
font-weight:bold;
float:right;
margin-bottom:15px;
}

.auth-error{
color:red;
font-size:13px;
margin-top:5px;
}

.input-error{
border:1px solid red;
}